a{
    color: blue;
    /* warna dari teksnya */
}
/* semua yang memiliki tag "a" akan diwarnai biru*/

a:visited{
    color: blueviolet;
}
/* ketika link sudah dikunjungi maka akan berganti warna */

.Paragraph{
    text-indent: 20px;
    /* untuk memberikan jarak menjorok ke kanan */

    text-align: justify;
    /* supaya text rata kanan kiri */

    text-transform: capitalize;
    /* supaya semua awalan huruf disetiap kata menjadi huruf kapital */
}
/* class Paragraph */

#img2{
    padding: 15px;
    /* "padding" untuk mengatur ukuran dari lapisan terluar dari text sebelum border. digunakan supaya terdapat jarak*/
}